<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/page-traliers-style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>BEYAZPERDE</title>
</head>

<body style="background-color: #f2f2f2;">
    <header>
        <div class="navbar">
            <div class="logo"><img class="header-main-logo-img"
                    src="https://assets.beyazperde.com/skin/img/beyazperde/logo-main.e99577c9.svg" width="200"
                    height="23" alt="beyazperde"></a></div>
            <ul class="links">
                <li class="input-group-wrapper">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Film, dizi veya sanatçı arayın..."
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">Ara</span>
                        </div>
                    </div>
                </li>
                <li><a href="hero">Filmler</a></li>
                <li><a href="about">Seanslar</a></li>
                <li><a href="services">Haberler</a></li>
                <li><a href="contact">Fragmanlar</a></li>
                <li><a href="contact">TV Dizileri</a></li>
                <li><a href="/admin_traliers" class="action_btn">Giriş Yap</a></li>
                <li><a href="#" class="action_btn">Hesap Aç</a></li>
            </ul>

            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="hero">Filmler</a></li>
            <li><a href="about">Seanslar</a></li>
            <li><a href="services">Haberler</a></li>
            <li><a href="contact">Fragmanlar</a></li>
            <li><a href="contact">TV Dizileri</a></li>
            <a href="#" class="action_btn">Giriş yap</a>
            <a href="#" class="action_btn">Hesap Aç</a>
        </div>

    </header>


    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropdownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropdownMenu.classList.toggle('open')
            const isOpen = dropdownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }
    </script>
    <main class="main-page-design" style="height: auto !important;">
        <section class="anasayfa_fragmanlar p-1 pl-3">
            <a href="" class="text1">Anasayfa > </a>
            <a href="" class="text1">Fragmanlar</a>
        </section>
        <section class="film-fragmanlari text-center">
            <h2 class="title2 text-design">Film Fragmanları</h2>
        </section>
        <section class="en-iyi-fragmanlar p-1 pl-3">
            <h3 class="title2">En İyi Fragmanlar</h3>
        </section>
        <section class="fragmanlar-1 p-3">
            <div class="video-card-trailer gd gd-xs-2 gd-s-3 gd-m-6 gd-gap-15 ">
                <%moviesList.forEach(movie=> {%>
                    <figure class="thumbnail ">
                        <div class="thumbnail-layer">
                            <div class="layer-link-holder"><a href="/page-traliers-link-index/<%=movie._id%>" class="layer-link">
                                    <%=movie.title %>
                                </a></div>
                        </div>
                        <span class=" thumbnail-container thumbnail-link" title="">
                            <img class="thumbnail-img" src="<%= movie.posterurl %>" alt="" />
                            <span class="ico-play ico-play-yellow">
                                <span class="ico-play-inner"></span>
                                <i class="ico-play-arrow">
                                    <i class="arrow"></i>
                                </i>
                            </span>
                            <span class="thumbnail-count"></span>
                        </span>
                    </figure>
                    <%})%>

            </div>
        </section>
        <section class="en-iyi-fragmanlara-goz-at ">
            <a href="">
                <h4 class="text2 text-endline p-1  pl-3 pb-5">
                    En iyi fragmanlara göz at
                </h4>
            </a>
        </section>
        <section class="su-an-sinemada">
            <h3 class="title2 p-1 pl-3">
                Şuan Sinemalardaki Film Fragmanları
            </h3>
        </section>
        <section class="fragmanlar-2 p-3">
            <div class="video-card-trailer gd gd-xs-2 gd-s-3 gd-m-6 gd-gap-15 ">
                <%moviesList.forEach(movie=> {%>
                    <figure class="thumbnail ">
                        <div class="thumbnail-layer">
                            <div class="layer-link-holder"><a href="/page-traliers-link-index/<%=movie._id%>" class="layer-link">
                                    <%=movie.title %>
                                </a></div>
                        </div>
                        <span class=" thumbnail-container thumbnail-link" title="">
                            <img class="thumbnail-img" src="<%= movie.posterurl %>" alt="" />
                            <span class="ico-play ico-play-yellow">
                                <span class="ico-play-inner"></span>
                                <i class="ico-play-arrow">
                                    <i class="arrow"></i>
                                </i>
                            </span>
                            <span class="thumbnail-count"></span>
                        </span>
                    </figure>
                    <%})%>

            </div>
        </section>
        <section class="su-an-sinema-goz-at">
            <a href="">
                <h4 class="text2 text-endline p-1 pb-5 pl-3">
                    En iyi fragmanlara göz at
                </h4>
            </a>
        </section>
        <section class="yakinda-sinemada">
            <h3 class="title2 p-1 pl-3">Yakında Sinemada Olacak Film Fragmanları</h3>
        </section>
        <section class="fragmanlar-3 p-3">
            <div class="video-card-trailer gd gd-xs-2 gd-s-3 gd-m-6 gd-gap-15 ">
                <%moviesList.forEach(movie=> {%>

                    <figure class="thumbnail ">
                        <div class="thumbnail-layer">
                            <div class="layer-link-holder"><a href="/page-traliers-link-index/<%=movie._id%>" class="layer-link">
                                    <%=movie.title %>
                                </a></div>
                        </div>
                        <span class=" thumbnail-container thumbnail-link" title="">
                            <img class="thumbnail-img" src="<%= movie.posterurl %>" alt="" />
                            <span class="ico-play ico-play-yellow">
                                <span class="ico-play-inner"></span>
                                <i class="ico-play-arrow">
                                    <i class="arrow"></i>
                                </i>
                            </span>
                            <span class="thumbnail-count"></span>
                        </span>
                    </figure>
                    <%})%>

            </div>
        </section>
        <section class="yakinda-sinemada-goz-at">
            <a href="">
                <h4 class="text2 text-endline p-1 pb-5 pl-3">
                    Yakında sinemalarda olacak olan filmlerin fragmanlarına göz at
                </h4>
            </a>
        </section>
        <section class="son-fragmanlar">
            <h3 class="title2 p-1 pl-3">Son Yayınlanan Film Fragmanları</h3>
        </section>
        <section class="fragmanlar-4 p-3">
            <div class="video-card-trailer gd gd-xs-2 gd-s-3 gd-m-6 gd-gap-15 ">
                <%moviesList.forEach(movie=> {%>

                    <figure class="thumbnail ">
                        <div class="thumbnail-layer">
                            <div class="layer-link-holder"><a href="/page-traliers-link-index/<%=movie._id%>" class="layer-link">
                                    <%=movie.title %>
                                </a></div>
                        </div>
                        <span class=" thumbnail-container thumbnail-link" title="">
                            <img class="thumbnail-img" src="<%= movie.posterurl %>" alt="" />
                            <span class="ico-play ico-play-yellow">
                                <span class="ico-play-inner"></span>
                                <i class="ico-play-arrow">
                                    <i class="arrow"></i>
                                </i>
                            </span>
                            <span class="thumbnail-count"></span>
                        </span>
                    </figure>


                    <%})%>

            </div>
        </section>
        <section class="en-iyi-fragman">
            <h4 class="text2 text-endline p-1 mb-special pl-3">
                En iyi fragmanlara göz at
            </h4>
        </section>
        <section class="dizi-fragmanlari">
            <h2 class="title2 text-design text-center">Dizi Fragmanları</h2>
        </section>
        <section class="gelecek-dizi">
            <h3 class="title2 p-1 pl-3">Gelecek Dizi Fragmanları</h3>
        </section>
        <section class="fragmanlar-5 p-3">
            <div class="video-card-trailer gd gd-xs-2 gd-s-3 gd-m-6 gd-gap-15 ">
                <%moviesList.forEach(movie=> {%>
                    <figure class="thumbnail ">
                        <div class="thumbnail-layer">
                            <div class="layer-link-holder"><a href="/page-traliers-link-index/<%=movie._id%>" class="layer-link">
                                    <%=movie.title %>
                                </a></div>
                        </div>
                        <span class=" thumbnail-container thumbnail-link" title="">
                            <img class="thumbnail-img" src="<%= movie.posterurl %>" alt="" />
                            <span class="ico-play ico-play-yellow">
                                <span class="ico-play-inner"></span>
                                <i class="ico-play-arrow">
                                    <i class="arrow"></i>
                                </i>
                            </span>
                            <span class="thumbnail-count"></span>
                        </span>
                    </figure>
                    <%})%>

            </div>
        </section>
        <section class="gelecek-dizi-goz-at">
            <h4 class="text2 text-endline p-1 pb-5 pl-3">
                Gelecek dizi fragmanlarına göz at
            </h4>
        </section>
        <section class="yeni-sezon">
            <h3 class="title2 p-1 pl-3">Yeni Sezon Dizi Fragmanları</h3>
        </section>
        <section id="fragmanlar-6 ">
            <div class="video-card-trailer gd gd-xs-2 gd-s-3 gd-m-6 gd-gap-15 p-3">
                <%moviesList.forEach(movie=> {%>
                    <figure class="thumbnail ">
                        <div class="thumbnail-layer">
                            <div class="layer-link-holder"><a href="/page-traliers-link-index/<%=movie._id%>" class="layer-link">
                                    <%=movie.title %>
                                </a></div>
                        </div>
                        <span class=" thumbnail-container thumbnail-link" title="">
                            <img class="thumbnail-img" src="<%= movie.posterurl %>" alt="" />
                            <span class="ico-play ico-play-yellow">
                                <span class="ico-play-inner"></span>
                                <i class="ico-play-arrow">
                                    <i class="arrow"></i>
                                </i>
                            </span>
                            <span class="thumbnail-count"></span>
                        </span>
                    </figure>
                    <%})%>

            </div>
        </section>
        <section class="yeni-sezon-frg-goz-at">
            <h4 class="text2 text-endline p-1 pb-5 pl-3">
                Yeni sezon fragmanlara göz at
            </h4>
        </section>
        <section id="en-son-dizi">
            <h3 class="title2 p-1 pl-3">En Son Dizi Fragmanları</h3>
        </section>
        <section id="fragmanlar-7 p-5">
            <div class="gd gd-gap-15 gd-m-4 gd-xs-1 gd-s-2 p-2 pl-3 pr-3">
                <%moviesList2.forEach(recentmovies=> {%>
                    <div class=" video-card video-card-row ">
                        <figure class="thumbnail ">
                            <div class="thumbnail-container">
                                <img class="thumbnail-img" src="<%= recentmovies.posterurl %>" />
                            </div>
                        </figure>
                        <div class="meta ">
                            <div class="meta-title">
                                <a class="meta-title-link">
                                    <%=recentmovies.tralier %>
                                </a>
                            </div>
                            <div class="meta-sub light">
                                <span>
                                    <%=recentmovies.watch %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
        </section>
        <section>
            <div class="video-card video-card-row gd gd-gap-15 gd-m-4 gd-xs-1 gd-s-2 p-2 pl-3 pr-3">
                <%moviesList2.forEach(recentmovies=> {%>
                    <div class="">
                        <figure class="thumbnail ">
                            <div class="thumbnail-container">
                                <img class="thumbnail-img" src="<%= recentmovies.posterurl %>" />
                            </div>
                        </figure>
                        <div class="meta ">
                            <div class="meta-title">
                                <a class="meta-title-link">
                                      <%= recentmovies.tralier %>  
                                </a>
                            </div>
                            <div class="meta-sub light">
                                <span>
                                    <%= recentmovies.watch %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
        </section>
        <section class="en-son-dizi-goz-at">
            <h4 class="text2 text-endline p-1 pb-5 pl-3">
                En son dizi fragmanlarına bak
            </h4>
        </section>
    </main>
    <section>
        <div class="page-footer pb-3">
            <div class="gd gd-gap-15 gd-m-3 gd-s-2 gd-xs-1 pd-special">
                <div class="text-bx pr-3 pl-3 pb-3">
                    <h6 class="p1 p-3 text-center">
                        BEYAZPERDEYİ ZİYARET ET
                    </h6>
                    <div class="social-media p-3 text-center">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-regular fa-envelope"></i></a>
                    </div>
                </div>
                <div class="text-bx pr-3 pl-3 pb-3 ">
                    <h6 class="p1 p-3 text-center">
                        BEYAZPERDE MOBİLDE
                    </h6>
                    <div class="mobile-media p-3 text-center">
                        Beyazperdeyi sorunsuz biçimde mobilden görüntüleyebilirsin.
                    </div>
                </div>
                <div class="text-bx pr-3 pl-3 pb-3 ">
                    <h6 class="p1 p-3 text-center">
                        BEYAZPERDE KARDEŞ SİTELERİ
                    </h6>
                    <div class="other-media p-3 text-center">
                        AlloCiné Fransa,
                        Filmstarts Almanya,
                        SensaCine İspanya,
                        AdoroCinema brasil,
                        Sensacine México Meksika,
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- bootstrap ekleme -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <!-- bootstrap ekleme -->
</body>

</html>